In [19]:
import sqlite3
import datetime

In [5]:
print('sqlite3 version:', sqlite3.version)

sqlite3 version: 2.6.0

In [21]:
# 데이터 추가 날짜 값 추출하기
now = datetime.datetime.now()
print('now : ', now)
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print('nowDatetime : ', nowDatetime)

now :  2021-10-25 14:48:32.186419
nowDatetime :  2021-10-25 14:48:32

In [29]:
conn = sqlite3.connect("sqldb.db")
# conn = sqlite3.connect("database.db", isolation_level=None)

In [30]:
cur = conn.cursor()
print('cursor type : ', type(cur))

cursor type :  <class 'sqlite3.Cursor'>

In [31]:
cur.execute("create table if not exists usersdb(id integer primary key, \
            username text, email text, phone text, website text, regdate text)")

In [32]:
# 테이블 생성(Data Type : TEXT, NUMERIC, INTEGER, REAL, BLOB)
cur.execute("INSERT INTO usersdb VALUES(1, 'Kim', 'kim@cozlab.com', '010-1234-5678', 'cozlab.com', ?)", (nowDatetime,))

In [33]:
conn.commit()

In [34]:
# 데이터 insert 튜플형식
cur.execute("INSERT INTO usersdb (id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)", \
(2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', nowDatetime))

In [35]:
conn.commit()

In [36]:
userList = (
(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', nowDatetime),
(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', nowDatetime),
(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', nowDatetime),
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', nowDatetime),
)
cur.executemany("INSERT INTO usersdb(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)", userList)

In [37]:
conn.commit()

In [38]:
# 테이블데이터 모두 삭제
cur.execute("DELETE FROM usersdb")

In [39]:
conn.commit()

In [40]:
userList = (
(1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', nowDatetime),
(2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', nowDatetime),
(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', nowDatetime),
(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', nowDatetime),
(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', nowDatetime),
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', nowDatetime),
)
cur.executemany("INSERT INTO usersdb(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)", userList)

In [41]:
conn.commit()

In [42]:
cur.close()

In [43]:
cur.execute("DELETE FROM usersdb")

ProgrammingError: Cannot operate on a closed cursor.

In [44]:
# conn = sqlite3.connect("sqldb.db")
conn = sqlite3.connect("sqldb.db", isolation_level=None)

In [45]:
cur = conn.cursor()
print('cursor type : ', type(cur))

cursor type :  <class 'sqlite3.Cursor'>

In [46]:
cur.execute("DELETE FROM usersdb")

In [47]:
userList = (
(1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', nowDatetime),
(2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', nowDatetime),
(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', nowDatetime),
(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', nowDatetime),
(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', nowDatetime),
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', nowDatetime),
)
cur.executemany("INSERT INTO usersdb(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)", userList)

In [52]:
cur.execute("select * from usersdb")

In [49]:
print('one -> \n',cur.fetchone())

one ->
 (1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 14:48:32')

In [50]:
print('Three -> \n', cur.fetchmany(size=3))

Three ->
 [(2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 14:48:32'), (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 14:48:32'), (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 14:48:32')]

In [53]:
print('All -> \n', cur.fetchall())

All ->
 [(1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 14:48:32'), (2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 14:48:32'), (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 14:48:32'), (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 14:48:32'), (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 14:48:32'), (6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 14:48:32')]

In [54]:
cur.execute("select * from usersdb")

In [56]:
rows = cur.fetchall()
for row in rows:
    print('retrivel -> ', row)

retrivel ->  (1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 14:48:32')
retrivel ->  (2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 14:48:32')
retrivel ->  (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 14:48:32')
retrivel ->  (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 14:48:32')
retrivel ->  (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 14:48:32')
retrivel ->  (6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 14:48:32')

In [60]:
for row in cur.fetchall():
    print('retrivel -> ', row)

In [62]:
# 순회3
for row in cur.execute('SELECT * FROM usersdb ORDER BY id DESC'):
    print('retrivel -> ', row)

retrivel ->  (6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 14:48:32')
retrivel ->  (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 14:48:32')
retrivel ->  (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 14:48:32')
retrivel ->  (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 14:48:32')
retrivel ->  (2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 14:48:32')
retrivel ->  (1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 14:48:32')

In [64]:
cur.execute("select * from usersdb")
for row in cur.fetchall():
    print('retrivel -> ', row)

retrivel ->  (1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 14:48:32')
retrivel ->  (2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 14:48:32')
retrivel ->  (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 14:48:32')
retrivel ->  (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 14:48:32')
retrivel ->  (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 14:48:32')
retrivel ->  (6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 14:48:32')

In [63]:
rows = cur.fetchall()
for row in rows:
    print('retrivel -> ', row)

In [65]:
cur.execute("select * from usersdb")

In [66]:
# WHERE 조건1 튜플형
param1 = (3,)
cur.execute("SELECT * FROM usersdb WHERE id=?", param1)
print('param1', cur.fetchone()) # 1개
print('param1', cur.fetchall()) # 데이터 없음

param1 (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 14:48:32')
param1 []

In [69]:
# format 문
param2 = 4
cur.execute("SELECT * FROM usersdb WHERE id='%s'" % param2) # %s %f %d
# print('param2', cur.fetchone()) #1개
print('param2', cur.fetchall()) #1개

param2 [(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 14:48:32')]

In [72]:
# WHERE 조건3 dict 형
cur.execute("SELECT * FROM usersdb WHERE id=:id", {"id":5}) #WHERE id=:id <= dict형 조건
print('param3', cur.fetchone()) # 1개
# print('param3', cur.fetchall()) # 1개

param3 (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 14:48:32')

In [73]:

param4 = (3,5)
cur.execute("SELECT * FROM usersdb WHERE id IN(?,?) ", param4)
print('param4 : ', cur.fetchall())

param4 :  [(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 14:48:32'), (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 14:48:32')]

In [74]:
# WHERE 조건5
cur.execute("SELECT * FROM usersdb WHERE id IN('%d','%d') " % (3,4))
print('param5 : ', cur.fetchall())

param5 :  [(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 14:48:32'), (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 14:48:32')]

In [75]:
# WHERE 조건6 WHERE OR
#WHERE id=:id <= dict형 조건
cur.execute("SELECT * FROM usersdb WHERE id=:id1 OR id=:id2", {"id1":2, "id2":5})
print('param6', cur.fetchall()) # 1개

param6 [(2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 14:48:32'), (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 14:48:32')]

In [76]:
with conn: # db 연결, file로 저장
    with open('./dump.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' % line)
    print('Dump print Complete')

Dump print Complete

In [77]:
conn.commit()

In [78]:
conn.close()

In [79]:
conn = sqlite3.connect("sqldb.db", isolation_level=None)
cur = conn.cursor()

In [80]:
cur.execute("UPDATE usersdb SET username = ? WHERE id =?", ('joy', 1))

In [82]:
cur.execute("UPDATE usersdb SET username = :name WHERE id = :id", {'name' : 'good', 'id' : 2})

In [83]:
conn.commit()

In [87]:
import sqlite3
import datetime
now = datetime.datetime.now()
print('now : ', now)
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print('nowDatetime : ', nowDatetime)
conn = sqlite3.connect("sqldb.db")
cur = conn.cursor()

now :  2021-10-25 17:05:43.367417
nowDatetime :  2021-10-25 17:05:43

In [88]:
# 삭제 한것 카운트 해서 반환함 : cur.execute("DELETE FROM usersdb").rowcount
print("user db delete : ", cur.execute("DELETE FROM usersdb").rowcount)

user db delete :  6

In [89]:
userList = (
(1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', nowDatetime),
(2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', nowDatetime),
(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', nowDatetime),
(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', nowDatetime),
(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', nowDatetime),
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', nowDatetime),
)
cur.executemany("INSERT INTO usersdb(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)", userList)

In [90]:
cur.execute("DELETE FROM usersdb WHERE id = ? ", (2,))

In [91]:
conn.commit()

In [92]:
for user in cur.execute("SELECT * FROM usersdb"):
    print(user)

(1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 17:05:43')
(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 17:05:43')
(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 17:05:43')
(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:05:43')
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 17:05:43')

In [94]:
cur.execute("DELETE FROM usersdb WHERE id=:id AND username=:name", {"id":3, "name":"Lee"}) #WHERE id=:Id <= dict형 조건

In [95]:
conn.commit()

In [96]:
for user in cur.execute("SELECT * FROM usersdb"):
    print(user)

(1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 17:05:43')
(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 17:05:43')
(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:05:43')
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 17:05:43')

In [98]:
# 삭제 : 스트링 format형으로
cur.execute("DELETE FROM usersdb WHERE id = %d" % 1)

In [99]:
conn.commit()

In [100]:
for user in cur.execute("SELECT * FROM usersdb"):
    print(user)

(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 17:05:43')
(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:05:43')
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 17:05:43')

In [101]:
# 삭제 : dict 형으로
cur.execute("DELETE FROM usersdb WHERE id =:id", {"id" : 4})

In [102]:
conn.commit()

In [103]:
for user in cur.execute("SELECT * FROM usersdb"):
    print(user)

(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:05:43')
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 17:05:43')

In [104]:
# 데이터 전체 삭제 : 삭제된 행 카운트 출력
print("usersdb deleted : ", conn.execute("DELETE FROM usersdb").rowcount, " rows")

usersdb deleted :  2  rows

In [105]:
conn.commit()
conn.close()